.clients {
    display: flex;
  }
  
  .section-title{
    margin-bottom: 50px;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // letter-spacing: 0.03em;
    // color: $title-color;
    text-align: center;
    @include font-style ( 700,  36px, 1.16, 0.03em,  $title-color);
  }
  
  .clients__item{
    width: calc((100% - 150px) / 6);
    
    &:not(:last-child) {
      margin-right: 30px;
  }
  }
  .clients__link {
    margin: 0px;
    display: flex;
  
   
    border-radius: 4px;
    border: 1px solid $clients-icon-color;
    padding: 15px 32px;
    color: $clients-icon-color;
    fill: currentColor;
    background-color: $background-color;
  
    transition-property: fill, border;
    transition-duration: $duration;
    transition-timing-function: $cubic;
      &:hover,
    &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color; }
  }
  
