.contacts {
  display: flex;
  @media screen and (min-width: 479px) and (max-width:767px){
      flex-direction: column;

  }
}
.is-open> .contacts{
  display: flex;
  flex-direction: column;
}
  .contacts__link {
    display: flex;
    align-items: center;
    height: 16px;
    color: $main-text-color;
   
  
    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $cubic;
    &:hover,
  &:focus {
    color: $accent-color;
  }
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .contacts__item:not(:last-child) {
    @media screen and (min-width: 768px){
    margin-right: 50px;}
  }