.features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    fill: $title-color;
    background-color: $accent-backgraund;
  }

  .features__title {
    
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font-style ( 700,  14px, 1.14, 0.03em, $title-color);
    @media  (max-width: 767px){
      text-align: center;
    }
  
    font-family: Roboto;

  }
  
  .features {
    
   @media  (min-width: 768px){
  
    display: flex;
  flex-wrap: wrap;
justify-content: space-between; }
}
  
  .features__item {
    margin-bottom: 30px;

    &:last-child{
     margin-bottom: 0px;}
   
    @media (min-width: 768px){
     flex-basis: calc((100% - 30px) / 2);
     &:nth-last-child(-n + 2){
       margin-bottom: 0px;}}
          
    @media (min-width: 1200px){
    flex-basis: calc((100% - 90px) / 4);
     margin-bottom:  0px;}
    }


    
 