.features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    fill: $title-color;
    background-color: $accent-backgraund;
  }

  .features__title {
    
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font-style ( 700,  14px, 1.14, 0.03em, $title-color);
    @media screen and (max-width: 479px){
      text-align: center;
    }
  
    font-family: Roboto;
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    // color: $title-color;
  }
  
  .features {
    
   @media screen and (min-width: 480px){
  
    display: flex;
  flex-wrap: wrap;
justify-content: space-between; }
}
  
  .features__item {
    @media screen and (min-width: 480px) {
      
      flex-basis: calc((100% - 30px) / 2);
    }
    
  
 @media screen and (min-width: 768px){

    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px; }
    }
  }
    
 