.features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    fill: $title-color;
    background-color: $accent-backgraund;
  }

  .features__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font-style ( 700,  14px, 1.14, 0.03em, $title-color);
  
    font-family: Roboto;
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    // color: $title-color;
  }
  
  .features {
    display: flex;
  }
  
  .features__item {
    flex-basis: calc((100% - 90px / 4));

    &:not(:last-child) {
      margin-right: 30px; }
  }
    
 