.footer__contacts {
  @media (max-width: 767px) {
    width: 100%;
    }
  @media (min-width:479px) and (max-width:1199px){
    flex-basis: calc((100% - 50px) / 2);
     }
  @media (max-width:1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media (min-width: 1200px) {    
    flex-grow: 1;
    margin-right: 70px;}
  }



.footer__address {
  font-style: normal;
}

.address-data__address {
  margin-bottom: 9px;
  color: $accent-text-color;
}

.contact-item {
 
  color: $main-text-color;
}

.address-data__contacts:not(:last-child) {
  margin-bottom: 6px;
}
.address-data__link {
  display: flex;
  height: 16px;
  color: $main-text-color;
  @media (max-width:1199px) { 
  justify-content: center;}
  @media (min-width: 1200px) { 
  align-items: center;}
 
  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $cubic;}

  .address-data__link:hover, 
  .contacts-link:focus {
    color: $accent-color;}