.join-us {
  @media (max-width: 479px) {
    width: 100%;
  }
  
  @media (max-width: 767px) { 
      margin-bottom: 60px;
    text-align: center;}
    @media (min-width:480px) and (max-width: 767px){
      flex-basis: calc((100% - 50px) / 2);
       }
    @media (min-width: 768px) { 
    margin-right: 93px;}
  }
  .join-us__list {
    display: flex;
    @media (max-width: 767px) {
      justify-content: center;
      
    }
  }
  .join-us__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    @include font-style ( 700,  14px, 1.14, 0.03em,  $accent-text-color);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    // color: $accent-text-color;
  }
  
  .join-us__item:not(:last-child) {
    margin-right: 10px;
  }
  .join-us__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  
   
    border-radius: 50%;
    color: $accent-text-color;
    background-color: rgba(255, 255, 255, 0.1);
  
    fill: currentColor;
  
    transition-property: background-color;
    transition-duration: $duration;
    transition-timing-function: $cubic;

    &:hover,
  &:focus {
    background-color: $accent-color;
  }
  }
  
  
  
  