.mobile-menu{
  align-items: center;

      @media  (max-width: 767px){
display: none;}
@media  (min-width: 768px) {
  display: flex;
  justify-content: space-between;
flex-grow: 1;}
}
.mobile-menu{
  
  .social {

    @media (min-width: 768px) {
      display: none;      
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
  .social__link {
    width: initial;
    display: inline-block;}
  }
}
.mobile-menu.is-open{
  
  @media  (max-width: 767px){
    
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 48px 40px;

      background-color: $background-color; }
     }


  .menu-toggle{
    width: 40px;
    height: 40px;
    @media  (max-width: 767px) {
      border:none;
background-color: transparent;
&:focus .menu-toggle__icon,
&:hover .menu-toggle__icon{
  fill: $accent-color;}
}
  @media (min-width:768px) {
    display: none;}
   
}
.js-close-menu{
  position: absolute;
  top: 8px;
  right: 8px;
}

  

.social__item:not(:last-child) {
  .social__link{
  margin-right: 5px;}
}

.social__text{

  display: inline-block;
  padding-right: 5px;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
color: $accent-color;
border-right: 1px solid $modal-fill-border;

@media (min-width: 768px) {
  display: none;
  }
}
