.nav {
  @media screen and (min-width: 480px) {
  
    display: flex;
    align-items: center;}
    @media (max-width: 1199px) {
  flex-grow: 0.5;}
  }
  .nav__list {
    @media screen and (min-width: 480px) {
  width: 90%;
  justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }

   .nav__link {
    padding: 8px 0px;
   
    @include font-style ( 500,  14px, 1.14, 0.02em,  $title-color);
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // color: $title-color;
  
    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $cubic;
    @media (max-width: 479px){
      @include font-style (500, 40px, 1.17, 0.02em, $title-color);
   
    

    }
    &:hover,
  &:focus {
    color: $accent-color;
  }
   }
  .nav__link--current {
    position: relative;
    color: $accent-color;
   

    @media screen and (min-width: 480px) {
   
      &::after {
        position: absolute;
        bottom: -24px;
        display: block;
        height: 4px;
        width: 100%;
        content: "";
        border-radius: 2px;
        background-color: $accent-color;}
      }
  }
  
  // .nav__link:hover,
  // .nav__link:focus {
  //   color: $accent-color;
  // }

.nav__link{
  display: inline-block;
  @media (max-width: 479px){
    margin-bottom: 32px;} 
}
  .nav__item:not(:last-child) {

    @media screen and (min-width:1199px) {
     
     margin-right: 50px;}
  }