.nav {
  @media (max-width: 767px) {
    flex-grow: 1;    
  }
  @media  (min-width: 768px) {
  
    display: flex;
    align-items: center;}

    @media (min-width: 768px) and (max-width: 1199px) {
  flex-grow: 0.5;}
  }
  .nav__list {
    @media  (min-width: 768px) {
  width: 100%;
  justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }

   .nav__link {
     display: inline-block;
    padding: 8px 0px;
    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $cubic;
    @include font-style (500, 30px, 1.16, 0.02em, $title-color);
      &:not(::last-child){
        margin-bottom: 32px;}
        @media (min-width: 479px) {
          @include font-style (500, 40px, 1.17, 0.02em, $title-color);
          }

    @media (min-width: 768px){
    @include font-style ( 500,  14px, 1.14, 0.02em,  $title-color);}

    &:hover,
  &:focus {
    color: $accent-color;}
   }

  .nav__link--current {
    position: relative;
    color: $accent-color;
   

    @media  (min-width: 768px) {
   
      &::after {
        position: absolute;
        bottom: -24px;
        display: block;
        height: 4px;
        width: 100%;
        content: "";
        border-radius: 2px;
        background-color: $accent-color;}
      }
  }
  


  .nav__item:not(:last-child) {

    @media  (min-width:1199px) {
     
     margin-right: 50px;}
  }