.nav {
  @media screen and (min-width: 480px) {
  
    display: flex;
    align-items: center;}
  }
  .nav__list {
    @media screen and (min-width: 480px) {
  
      display: flex;
      align-items: center;
    display: flex;}
  }

   .nav__link {
    padding: 8px 0px;
   
    @include font-style ( 500,  14px, 1.14, 0.02em,  $title-color);
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // color: $title-color;
  
    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $cubic;

    &:hover,
  &:focus {
    color: $accent-color;
  }
  }
  .nav__link--current {
    position: relative;
    color: $accent-color;

    @media screen and (min-width: 480px) {
   
      &::after {
        position: absolute;
        bottom: -24px;
        display: block;
        height: 4px;
        width: 100%;
        content: "";
        border-radius: 2px;
        background-color: $accent-color;}
      }
  }
  
  // .nav__link:hover,
  // .nav__link:focus {
  //   color: $accent-color;
  // }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }