.team {
  
  @media screen and (min-width: 480px){
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width:480px) and (max-width:767px) {
      justify-content: space-around;
    }

  }
  }
  .team__img {
    display: block;
    width: 100%;
    height: auto;
  }
  .section_title {
    @include font-style ( 700,  36px, 1.16, 0.03em,  $title-color);
    margin-bottom: 50px;
    text-align: center;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // letter-spacing: 0.03em;
    // color: $title-color;
  }
  