.section--no-padding-top{
    padding-top: 0px;
  }
  

  
  .work-areas {
    display: flex;
  }
  .section__title{
    margin-bottom: 50px;
    text-align: center;
    @include font-style ( 700,  28px, 1.16, 0.03em,  $title-color);
    @media (min-width: 768px) {
      font-size: 36px;}
  }
  .work-areas__item {
    flex-basis: calc((100% - 60px) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
 
  .work-areas__img {
    display: block;
    width: 100%;
    height: auto;
  }
  .work-areas__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .work-areas__description {
    position: absolute;
    bottom: 0%;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 27px 0px;
    @include font-style ( 700,  inherit, 1.14, inherit,  $accent-text-color);
    // font-weight: 700;
    // line-height: 1.14;
    // color: $accent-text-color;
  
  }