.work-exemples {
  @media screen and( min-width:480px) {
    
    display: flex;
    flex-wrap: wrap;
  }
  }
  
  .work-exemples__item {
    @media screen and( min-width:767px){
    flex-basis: calc((100% - 30px) / 2);}

    @media screen and( min-width:480px) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;}
    }
  }
  
  .card {
    display: block;
    transition-property: box-shadow;
    transition-duration: $duration;
    transition-timing-function: $cubic;
  
   
    color: inherit;

    &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }
  
  
  .card:hover .card__overlay,
  .card:focus .card__overlay {
    transform: translateY(-100%);
  }
  .card__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .card__thumb__img {
    display: block;
    width: 100%;
    height: auto;
  }
  .card__overlay {
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    color: $accent-text-color;
    background-color: $card-thumb-overflow-color;
  
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  
    transition-property: transform, box-shadow;
    transition-duration: $duration;
    transition-timing-function: $cubic;
  }
  .card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $title-color;
  }
  
  
  
  .card__text {
    font-size: 16px;
    line-height: 1.87;
  }
  
  
  
  .card__box {
    text-align: start;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0px;
  }