.logo {
 
  display: inline-block;
  font-family: Raleway;
  @include font-style ( 700,  24px, 1.2, inherit, $title-color);

  @media screen and (min-width: 480px){
  flex-grow: 1;}

  @media screen and (min-width: 1200px){
  margin-right: 93px;
  flex-grow: 0;}
  }
  
  .logo__color {
    color: $accent-color;
  }
  .logo--footer {
    margin-right: 0px;
    margin-bottom: 20px;
    color: $accent-text-color;

 }
